@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap");

:root {
  --main-bg-color: linear-gradient(64.51deg, #366467 27.71%, #2c8080 73.92%);
  --second-bg-color: #103b3b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container-projetos-page {
  background: var(--second-bg-color);
  width: 100%;
  height: 100vh;
}

.header-projetos {
  justify-content: center;
  padding-top: 10em;
  text-align: center;
}
@media (max-width: 1500px) {
  .header-projetos {
    padding-top: 10em;
  }
}

.header-projetos h1 {
  font-size: 5em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1500px) {
  .header-projetos {
    font-size: 0.8em;
  }
}

@media (max-width: 1366px) {
  .header-projetos {
    font-size: 0.7em;
  }
}

.grid-projetos {
  display: grid;
  padding-top: 5em;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(3, 30em);
  gap: 4em;
}

@media (max-width: 1500px) {
  .grid-projetos {
    padding-top: 3em;
    grid-template-columns: repeat(3, 25em);
  }
}

@media (max-width: 1366px) {
  .grid-projetos {
    padding-top: 2em;
    grid-template-columns: repeat(3, 23em);
  }
}

.grid-projetos figure {
  display: flex;
  justify-content: center;
  background-color: rgba(44, 128, 128, 1);
  height: 20em;
  border-radius: 2.5em;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .grid-projetos figure {
    height: 17em;
  }
}

@media (max-width: 1366px) {
  .grid-projetos figure {
    height: 15em;
  }
}

.grid-projetos figure img {
  padding-top: 2em;
  height: 18em;
}

@media (max-width: 1500px) {
  .grid-projetos figure img {
    height: 15em;
  }
}

@media (max-width: 1366px) {
  .grid-projetos figure img {
    height: 13em;
  }
}

.grid-projetos figure p {
  text-transform: uppercase;
  color: #ffff;
  font-size: 2em;
}

.footer-projetos {
  padding-top: 4em;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.mostrar-mais {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer div p {
  color: #ffff;
  font-size: 2em;
  padding-right: 10px;
}

@media (max-width: 1366px) {
  footer div p {
    color: #ffff;
    font-size: 1.5em;
  }
}
.triangulo-para-baixo {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffff;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .triangulo-para-baixo {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffff;
  }
}

#LinkGitHub {
  position: absolute;
  overflow: hidden;
}

.hide {
  transition: 1s;
  opacity: 0;
}

.show {
  transition: 1s;
  opacity: 1;
}

.footer-projetos #linkGitHub a {
  text-decoration: none;
  color: yellow;
  font-size: 1.5em;
}
